<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <div>
        <b>{{animalName}}</b>
      </div>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="idleUri" alt="Idle photo of the animal">
  <mat-card-content>
    <div>
      <b>
        Downloads:</b>
    </div>
    <div>
      {{animalCard.TimesDownloaded}}
    </div>
    <div>
      <b>
        Description: 
      </b>
    </div>
    <div>
      {{animalCard.Description}}
    </div>
  </mat-card-content>
    <div class="text-center">
      <button id="details" mat-raised-button color="primary" (click)="openDialog()">Details</button>
    </div>
</mat-card>