.example-card {
    max-width: 200px;
    margin: 10px;
    min-height: 450px;
    max-height: 450px;
}

.example-header-image {
    background-size: cover;
}
.example-spacer {
    flex: 1 1 auto;
  }
  
  img {
      min-height: 200px;
      max-height: 200px;
  }