<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="logo-icon" svgIcon="logotool"></mat-icon>
        <a routerLink="/dashboard">
        <span class="app-name-text">Tamagotchi 2018</span>
        </a>
        <button mat-button [routerLink]="['/dashboard']" class="features">Dashboard</button>
        <button mat-button [routerLink]="['/screenshots']" class="features" style="visibility: hidden">Screenshots</button>
        <span class="example-spacer"></span>
            <button mat-raised-button  [routerLink]="['/documentation']">Download</button>
    </mat-toolbar-row>
</mat-toolbar>