<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a6d3a683-fcf3-4ae1-8e72-b773875f067a/resourcegroups/Images/providers/Microsoft.Web/sites/soap9052</ResourceId>
    <ResourceGroup>Images</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soap9052.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>soap9052.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>soap9052</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$soap9052</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TamagotchiRelational" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tamagochidb.database.windows.net,1433;Initial Catalog=tamagotchi-9052;Persist Security Info=False;User ID=alex;Password=CJAX3585a;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tamagochidb.database.windows.net,1433;Initial Catalog=tamagotchi-9052;Persist Security Info=False;User ID=alex;Password=CJAX3585a;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tamagotchi.DataAccess.Context.TamagotchiContext, Tamagotchi.DataAccess" MigrationConfiguration="Tamagotchi.DataAccess.Migrations.Configuration, Tamagotchi.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Tamagotchi9052MongoDBConnString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://138.197.135.141:27017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Tamagotchi9052MongoDBConnString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://138.197.135.141:27017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TamagotchiStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=repechajestorage;AccountKey=5I9s0eTbChV12Bjhc+RgKQG3NylFo7SzMRpO4GCgdZ8iqejUcB49ix8dKoC4hfWZDifv3F6godrketwAap9oqA==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TamagotchiStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=repechajestorage;AccountKey=5I9s0eTbChV12Bjhc+RgKQG3NylFo7SzMRpO4GCgdZ8iqejUcB49ix8dKoC4hfWZDifv3F6godrketwAap9oqA==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tamagotchi9052MongoDBConnString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TamagotchiStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="TamagotchiRelational-Web.config Connection String">
      <ParameterValue>Server=tcp:tamagochidb.database.windows.net,1433;Initial Catalog=tamagotchi-9052;Persist Security Info=False;User ID=alex;Password=CJAX3585a;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>